/* 
    Document   : mensaje
    Created on : 26/06/2013, 04:41:30 PM
    Author     : HP435
    Description:
        Purpose of the stylesheet follows.
*/

body{
    width:451px;
    height:620px;
    background:#fff;
    margin:0;
    padding:0;
    font-family:Arial;
}
fieldset{
    display:block;
    padding:0 10px;
    width:431px;
    height:270px;
}
legend{
    margin-bottom:10px;
}
label,input{
    display:block;
    margin:6px 0 6px;
}
label{
    width:15%;
    float:left;
    text-align:right;
}
input{
    float:right;
    width:82%;
}
textarea{
    min-width:426px;
    max-width:426px;
    height:100px;
}